<div class="container mt-5">
    <button *ngIf="user && user.role == 'Admin'" mat-button (click)="openAddCategoryDialog()">Add Category</button>


    <mat-table [dataSource]="category$" matSort>
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          
          <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button *ngIf="user && user.role == 'Admin'" mat-icon-button (click)="editCategory(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="user && user.role == 'Admin'" mat-icon-button (click)="deleteCategory(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      
      <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
