<div class="row">
    <div class="col-md-3">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{'Products' | translate}}</mat-card-title>
              <mat-card-subtitle>{{'TotalProducts' | translate}}: {{ totalProductsCount  }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>{{'Users' | translate}}</mat-card-title>
              <mat-card-subtitle>{{'TotalUsers' | translate}}: {{ totalUserCount  }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
</div>


